<div class="c-main-div">
    <div class="title-div">
        <label class="title">Components</label>
    </div>
    <div class="content-div">
        <div class="main-ul">
            <ng-container *ngFor="let element of projectTree.elements; let i=index" 
            [ngTemplateOutlet]="elementTemplate"
            [ngTemplateOutletContext]="{ $implicit: element}"></ng-container>
        </div>
    </div>
</div>

<ng-template #elementTemplate let-element>
    <div class="li-group">
        <div [ngClass]="{'li-element': element.isSelected === false,
                         'li-element-selected' : element.isSelected === true}" 
             [style.padding-left.px]="(element.indent * 20) + 10"
             (click)="onClickTreeElement(element)"
             (contextmenu)="onRightClickTreeElement($event, element.id, element.type)">
             <div *ngIf="!element.childs" class="li-element-expander-hidden"></div>
             <svg *ngIf="element.isExpanded && element.childs && element.childs.length > 0" 
                  class="li-element-expander"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 -960 960 960">
                  <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/>
            </svg>
            <svg *ngIf="!element.isExpanded && element.childs && element.childs.length > 0" 
                  class="li-element-expander"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 -960 960 960">
                  <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/>
            </svg>
            <svg *ngIf="element.type ==='folder'" 
                 class="li-element-icon-folder"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                 <path [attr.d]="element.iconPath"/>
            </svg>
            <svg *ngIf="element.type ==='file'" 
                 class="li-element-icon-file"
                 xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 -960 960 960">
                 <path [attr.d]="element.iconPath"/>
            </svg>
            <a class="li-element-a">{{element.name}}</a>
        </div>
        <!-- div si li selectionné et qu'il a des enfants-->
        <div *ngIf="element.isExpanded && element.childs && element.childs.length > 0" class="li-element-childs-div">
            <ng-container>
                <div class="child-ul">
                    <ng-container *ngFor="let childElement of element.childs; let i=index" 
                    [ngTemplateOutlet]="elementTemplate" 
                    [ngTemplateOutletContext]="{$implicit: childElement}"></ng-container>
                </div>
            </ng-container>
        </div>           
    </div>
</ng-template>
