@import '../../shared/styles/colors.scss';

.c-main-div
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $dark-4;
}