<div class="main-c-div">
    <div class="login-div">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-div">
                <label for="input" class="input-label">Username</label>
                <input [ngClass]="{'input' : userNameValid, 
                                   'input-invalid' : !userNameValid}" 
                       type="text" 
                       placeholder="Username" 
                       formControlName="username">
                <span *ngIf="!userNameValid" class="error-message">Username doesn't exist</span>
            </div>
            <div class="input-div">
                <label for="input" class="input-label">Password</label>
                <input [ngClass]="{'input' : passwordValid, 
                                   'input-invalid' : !passwordValid}" 
                       type="password" 
                       placeholder="Password" 
                       formControlName="password">
                <span *ngIf="!passwordValid" class="error-message">Wrong password</span>
            </div>
            <div class="button-div">
                <button class="button" type="submit">
                    <a>Login</a>
                </button>
            </div>
        </form>
    </div>
</div>

