<div class="main-c-div">
    <div class="login-div">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-div">
                <label for="input" class="input-label">Username</label>
                <input class="input" type="text" placeholder="Username" formControlName="username">
            </div>
            <div class="input-div">
                <label for="input" class="input-label">Password</label>
                <input class="input" type="password" placeholder="Password" formControlName="password">
            </div>
            <div class="button-div">
                <button class="button" type="submit">
                    <a>Login</a>
                </button>
            </div>
        </form>
    </div>
</div>

