<div class="main-div">
  <app-context-home-project *ngIf="_projectService._context?.isActive"
                            (mouseleave)="onProjectContextMouseLeave()"
                            [style.top.px]="_projectService._context?.top"
                            [style.left.px]="_projectService._context?.left"></app-context-home-project>
  <app-context-home-component-folder *ngIf="_componentService._context?.isActive && _componentService._context?.type === 'folder'"
                                     (mouseleave)="onComponentContextMouseLeave()"
                                     [style.top.px]="_componentService._context?.top"
                                     [style.left.px]="_componentService._context?.left"></app-context-home-component-folder>
  <app-context-home-component-file *ngIf="_componentService._context?.isActive && _componentService._context?.type === 'file'"
                                     (mouseleave)="onComponentContextMouseLeave()"
                                     [style.top.px]="_componentService._context?.top"
                                     [style.left.px]="_componentService._context?.left"></app-context-home-component-file>
  <div *ngIf="_sessionService._isConnected" class="main-top-div">
    <app-navbar></app-navbar>
  </div>
  <div [ngClass]="{'main-bottom-div': _sessionService._isConnected,
                   'main-bottom-div-active' : !_sessionService._isConnected}">
    <div *ngIf="_sessionService._isConnected" class="second-left-div">
      <app-sidebar></app-sidebar>
    </div>
    <div class="second-right-div">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

