<div class="main-div">
  <app-context-menu *ngIf="projectContext?.isActive" 
                    (mouseleave)="onProjectContextMouseLeave()"
                    [style.top.px]="projectContext?.top"
                    [style.left.px]="projectContext?.left"></app-context-menu>
  <div *ngIf="connected" class="main-top-div">
    <app-navbar></app-navbar>
  </div>
  <div [ngClass]="{'main-bottom-div': connected,
                   'main-bottom-div-active' : !connected}">
    <div *ngIf="connected" class="second-left-div">
      <app-sidebar></app-sidebar>
    </div>
    <div class="second-right-div">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>