@import '../../shared/styles/colors.scss';

.c-main-div
{
    height: fit-content;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $dark-1;
    border: 1px solid $dark-5;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 0.3rem;

}

.family-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    // border: 1px solid red;
}

.element
{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.element:hover
{
    background-color: $dark-2;
}

.element-withIcon
{
    height: fit-content;
    width: calc(100% - 0.5rem);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding-right: 0.5rem;
}

.element-withIcon:hover
{
    background-color: $dark-2;
}

.element-name
{
    line-height: 1.25rem;
    font-size: 0.875rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    color: $font-default;
    flex-grow: 1;
    cursor: pointer;
}

.element-name-icon
{
    box-sizing: border-box;
    height: 1.25rem;
    width: 1.25rem;
    color: $error;
    fill: $error;
    cursor: pointer;
}

